/* Write your CSS here */
@media (max-width: 768px) {
  .each-team-container {
    background-color: #ffffff33;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 8px;
    margin: 12px;
    display: flex;
    width: 100%;
    align-items: center;
    text-decoration: none;
  }

  .ipl-logo-name-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .team-logo {
    height: 190px;
  }

  .team-name-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .team-name {
    font-family: bree serif;
    font-size: 30px;
    color: #ffffff;
  }

  .link-tag {
    text-decoration: none;
    background-color: transparent;
  }

  .list-item {
    list-style-type: none;
  }
}

@media (min-width: 769px) {
  .each-team-container {
    background-color: #ffffff33;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 12px;
    margin: 12px;
    display: flex;
    width: 40%;
    align-items: center;
    text-decoration: none;
  }

  .ipl-logo-name-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .team-logo {
    height: 160px;
    width: 130px;
    margin-right: 18px;
  }

  .team-name-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .team-name {
    font-family: bree serif;
    font-size: 30px;
    color: #ffffff;
  }

  .link-tag {
    text-decoration: none;
  }

  .list-item {
    list-style-type: none;
  }
}
